
/* .page.theme_dark {
    --background-image: url(../images/background-dark.png);
    --background-color: rgb(255, 255, 255);
    --main-color:  rgb(0, 204, 20);
    --border-color: rgb(0, 204, 20);
    --weight-main-font-size: 465;
    --weight-heading: 785;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-image: url(../images/background-dark.png);
        --background-color: rgb(255, 255, 255);
        --main-color:  rgb(0, 204, 20);
        --border-color: rgb(0, 204, 20);
        --weight-main-font-size: 465;
        --weight-heading: 785;
    }
} */