/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: var(--weight-main-font-size);
  padding-top: 100px;
}

.content-section {
  /* inline-size: 375px; */
  margin: auto;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
}

.header {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  font-variation-settings: var(--weight-main-font-size);
  padding: 120px 14px 25px;
  display: grid;
  justify-items: center;
  margin-bottom: 100px;
  color: var(--main-color);
}

/* надпись html */
.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

/* закрывающий тег */
.header h1 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

/* меню в шапке */
.theme-menu__button {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--weight-main-font-size);
  line-height: 14px;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  /* transition: opacity 0.3s ease; */
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  pointer-events: none;
  animation: arrow 0.5s ease-in-out infinite alternate;
  transition: transform 0.3s ease;
}

.theme-menu__button:enabled::after {
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  color: var(--color-opacity);
  cursor: pointer;
  transition: color 0.3s;
}

.theme-menu__button:focus::after {
  width: 100%;
  background-color: var(--background-color);
  transition: width 300ms, background-color 0.3s;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--weight-main-font-size);
  line-height: 14px;
  color: var(--main-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.button-underline::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--color-opacity);
  transition: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.content__picture {
  inline-size: 100%;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

/* заголовки карточек */
.card-heading {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: var(--weight-heading);
  line-height: 21.78px;
  padding: 3.5px 10px 5.5px;
  color: var(--main-color);
}

/* стилизуем p */
.content__picture-caption {
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: var(--weight-main-font-size);
  line-height: 21px;
  padding: 25px;
  color: var(--main-color);
}

/* p верхний между двумя абзацами */
.section-text {
  margin-bottom: 27px;
}

/* отступы между карточками */
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__like-button {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--weight-main-font-size);
  line-height: 12.6px;
  border: none;
  align-self: end;
  border: 2px solid var(--border-color);
  padding: 10.5px 35px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin: 0 25px 25px 0;
  transition: box-shadow 0.3s;
  overflow: hidden;
  color: var(--main-color);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

/*кнопка сердца и like*/
.button__card {
  display: flex;
  justify-content: end;
  gap: 5px;
}

/*кнопка, оборачивающая иконку сердца*/
.card__icon-button {
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  align-self: start;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border-color 0.3s ease;
}

/* при наведении на лайк */
.card__like-button:hover {
  color: var(--color-like);
}

.card__like-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: var(--color-like);
  background-color: var(--main-color);
  transition: width 0.6s;
  mix-blend-mode: difference;
}

.card__like-button:hover::before {
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-like);
}

.card__like-button:hover .button__text {
  z-index: 1;
  mix-blend-mode: difference;
}

.filter-grayscale {
  filter: grayscale(0.6);
}

.filter-saturate {
  filter: saturate(175%);
}

.filter-saturate:nth-child(2) {
  filter: saturate(160%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-brightness {
  filter: brightness(200%) saturate(60%);
}

.filter-brightness:nth-child(2) {
  filter: brightness(150%);
}

.save {
  display: flex;
  justify-content: center;
  padding: 0 34.5px 100px;
  margin-top: 52px;
  margin-bottom: 100px;
}

.save-button {
  padding: 51px 20.5px 15px 19.5px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--weight-main-font-size);
  line-height: 12.6px;
  border: 2px solid var(--border-color);
  position: relative;
  color: var(--main-color);
  background-color: var(--background-color);
  position: relative;
  cursor: pointer;
  transition: 0.6s;
}

.save-button:hover {
  color: var(--color-like);
}

.save-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: var(--background-color);
  background-color: var(--main-color);
  transition: width 0.6s;
  mix-blend-mode: difference;
}

.save-button:hover::before {
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-like);
  mix-blend-mode: difference;
}

.save-button:hover .button__text {
  z-index: 1;
  mix-blend-mode: difference;
}

.save-button:focus {
  box-shadow: 2px 2px 0 0 var(--border-color);
  transition: box-shadow 0.3s;
}

.button__floppy {
  position: absolute;
  top: 15px;
  left: 138.5px;
  color: var(--main-color);
}

.button__floppy:hover {
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog-button__floppy {
  color: var(--main-color);
  position: absolute;
  top: 42px;
  left: 42px;
}

dialog {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  width: 341px;
  min-height: 195px;
  text-align: center;
  padding: 30px 42px;
  margin: auto;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-title {
  color: var(--main-color);
  margin-bottom: 30px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--weight-main-font-size);
  line-height: 21px;
  padding-left: 40px;
  text-align: left;
}

dialog button {
  padding: 12.5px 114.5px;
  color: var(--main-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--weight-main-font-size);
  line-height: 12.6px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
}

@media (min-width: 375px) {
  .header {
    padding: 136px 120.5px 25px;
  }

  .save {
    padding: 50px 553px 103px 552px;
  }

  .content-section {
    max-width: 696px;
  }
}
