/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --background-color: white;
  --main-color: rgb(0 0 0);
  --border-color: rgba(255, 255, 255, 1);
  --main-font-family: "Inter", sans-serif;
  --font-weight-mobile: 400;
  --accent-font-family: "PressStart2P", sans-serif;
  --weight-heading: 700;
  --color-opacity: rgb(0 0 0 / 0.6);
  --contour-color: rgb(0, 0, 0);
  --sparks-color: rgba(255, 0, 0, 1);
  --fill-like: rgb(0, 0, 0);
  --color-like: white;
  --like-fill-color: rgba(255, 0, 0, 1);
  --fill-button: rgb(0 0 0);
  --font-weight-desktop: 400;
  --text-stroke-color: rgba(255, 255, 255, 1);
  --floppy-color: white;
}
